html
  head
    title Overscroll
    link(rel="stylesheet", type="text/css", href="style.css")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    script(src='jquery-1.9.0.min.js')
    script(src='jquery.kbd-scroll.js')

  body
    div.screen

      div.kbd-scroll
        div.overscroll
            div.content
              div
                input(value='First')
              div
                input(value='Second')
              div
                input(value='Third')
              div
                input(value='Fourth')
              div
                input(value='Fifth')
              div
                button Submit

    script
      $(function () {
        $('.kbd-scroll').kbdScroll();
      });
